*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(4,9,30,0.7),
        rgba(4,9,30,0.7)),
        url(./img/img_fondo.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    text-align: center;
}

nav h2
{
    color: #fff;
    font-size: 20px;
}

nav a
{
    text-decoration: none;
}

nav ul
{
    display: flex;
    flex: 1;
    text-align: right;
    
}

nav ul li
{
    list-style: none;
    padding: 2px 12px;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
