*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(4,9,30,0.7),
        rgba(4,9,30,0.7)),
        url(./img/img_fondo.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    text-align: center;
}

nav h2
{
    color: #fff;
    font-size: 20px;
}

nav a
{
    text-decoration: none;
}

nav ul
{
    display: flex;
    flex: 1;
    text-align: right;
    
}

nav ul li
{
    list-style: none;
    padding: 2px 12px;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}


nav ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after
{
    width: 100%;
}

.texto
{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.texto h1
{
    font-size: 60px;
}

.texto p
{
    margin: 20px 0 50px;
    font-size: 14px;
}

.texto a 
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.texto .boton
{
    border: 2px solid;
    padding: 10px 34px;
    background: transparent;
    position: relative;
}

.boton:hover
{
    background: orange;
    transition: 1s;
}
